.dashboard {
  background-color: #f4f5f9;
  min-height: 100vh;
  padding-bottom: 40px;
  display: flex;
  gap: 20px;
  overflow: auto;
}

.board-container {
  display: flex;
  gap: 20px;
  position: relative;
}

.toggle-sample-btn-container {
  margin-top: 10px;
  border: 2px solid #912fc9;
  border-radius: 18px;
  width: 25px;
  height: 14px;
  display: flex;
  align-items: center;
  padding: 0 2px;
  transition: background 0.3s;
  cursor: pointer;
}

.toggle-sample-btn {
  background-color: #912fc9;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  cursor: pointer;
  transition: transform 0.3s;
}

.toggle-sample-btn-container.active {
  background-color: #912fc9;
}

.toggle-sample-btn.active {
  background-color: #ffffff;
}

.toggle-sample-btn-container.active .toggle-sample-btn {
  transform: translateX(14px);
}

.sm-board {
  display: flex;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  transform: translateX(0);
}

.sm-board.hidden {
  opacity: 0;
  transform: translateX(-50px);
  pointer-events: none;
  position: absolute;
}

.columns-container {
  display: flex;
  gap: 14px;
  padding-top: 10px;
}

.column {
  width: 240px;
}

.column-title-container {
 display: flex;
 align-items: center;
 justify-content: space-between; 
}

.column-title {
  font-size: 14px;
  color: #4d5b86;
  text-transform: uppercase;
}
  
.column-action-icon {
  cursor: pointer;
}

.task-card {
  margin-top: 10px;
  background-color: #ffffff;
  color: #4d5b86;
  padding: 14px;
  border-bottom: 1.5px solid #e0e7f7;
  box-shadow: 0 2px 4px 0 rgba(157, 156, 156, 0.2), 0 3px 10px 0 rgba(155, 155, 155, 0.19);
}

.priority {
  background-color: #f52377;
  color: #ffffff;
  border-radius: 3px;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: 600;
  display: inline-block;
}

.task-title {
  font-size: 12px;
  text-transform: capitalize;
}

.assigned-users-container {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.assigned-user {
  background-color: #9030cc;
  color: #ffffff;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -5px !important;
  border: 1.4px solid #ffffff;
  cursor: pointer;
  z-index: 1;
}

.assign-container {
  position: relative;
}

.unassign-user-icon {
  position: absolute;
  top: -4px;
  right: 2px;
  color: #f41484;
  cursor: pointer;
  z-index: 2;
} 

.assigned-user:first-child {
  margin-left: 0px;
}

.assign-user-icon {
  border: 1.5px dashed #b4b4b4;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: -5px;
  cursor: pointer;
}
          
.description-heading {
  font-size: 12px;
}
       
.description-content {
  font-size: 12px;       
}

.due-date-container {
     display: flex;
     align-items: center;
     justify-content: space-between; 
}

.due-date-label {
  font-size: 12px;
  font-weight: 700;
}

.due-date {
  font-size: 12px;
  font-weight: 500;
}

.due-date-heading {
  font-size: 12px;
  font-weight: 700;
}

.add-btn {
  background-color: #2a57e8;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;
  margin-top: 20px;
}

.cancel-btn {
  background-color: #f34e30;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;
  margin-top: 20px;
}

.add-task-section {
  background-color: #eaf4fa;
  color: #4d5b86;
  padding: 30px 20px;
  border-bottom: 1.5px solid #e0e7f7;
  box-shadow: 0 2px 4px 0 rgba(157, 156, 156, 0.2), 0 3px 10px 0 rgba(155, 155, 155, 0.19);
}

.add-task-title-container {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 4px;
}

.add-task-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 4px;
  color: #5d9af4;
  margin-top: 14px;
}

.add-task-title-heading, .add-task-priority-heading, 
.add-description-heading, .add-due-date-label, .assign-user-label {
  font-weight: 700;
  font-size: 14px;
}

.assign-user-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-due-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-top: 20px;
}

.add-task-priority {
  font-size: 12px; 
  width: 134px;
  padding: 2px;
}

.add-task-icon {
  font-weight: bold;
  cursor: pointer;
}

.add-task-text {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.add-task-container:hover {
  color: #3764f6;
}

.add-column-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #5d9af4;
  margin-top: 50px;
  margin-right: 10px;
}

.add-column-container:hover {
  color: #3764f6;
}

.add-column-icon {
  font-weight: bold;
  cursor: pointer;
}

.add-column-text {
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.column-edit-btn, .column-remove-btn {
  cursor: pointer;
}

.column-action-container {
  background-color: #ecf5ff;
  border: 1px solid #d1e4f9;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80px;
  float: right;
  padding: 14px 0;
  margin-top: -5px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-action-items-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.task-action-item {
  cursor: pointer;
}

.task-action-item:first-child {
  color: #6898f2;
}

.task-action-item:nth-child(2) {
  color: #fd5252;
}

.task-action-item:first-child:hover {
  color: #3553fa;
}

.task-action-item:nth-child(2):hover {
  color: #ff0000;
}

.add-task-priority-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.add-description-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.users-container {
  position: relative;
}

.add-new-user {
  background-color: #e7f0ff;
  border-radius: 4px;
  display: inline-block;
  line-height: 30px;
  padding: 10px;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 10;
}

.new-user {
  cursor: pointer;
}

.drop-containers {
display: flex;
align-items: center;
gap: 10px;
}

.drop-container {
  background-color: #90b6ee;
  border-radius: 4px;
  width: 300px;
  height: 400px;
}

.draggable-task-card {
  cursor: grab;
}